# running in background
# redis-server ./example/redis.config
# no by default
daemonize yes

port 7000

loglevel debug
logfile ./redis.log

# if(in 300 ms we have 10 actions on server) then save it
save 300 10

# set auth password passAdmin
requirepass passAdmin

rename-command config hiddenconfig

# 0.02mb ~ 20kb one client

maxclients 1 

# Устанавливает максимальный размер занимаемый сервером в 2mb
# noeviction возвращает ошибку если достигнут лимит памяти

# removed unused keys
volatile-lru 

# expired keys
volatile-ttl 

# random expired keys
volatile-random 

# removed with ~ without expired date
allkeys-lru 

allkeys-random


maxmemory 2mb

# maxmemory-policy allkeys-lru

# replica of 
slaveof localhost 6379


# yes by default
slave-read-only no